<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= pageData.title %></title>
<meta name="description" content="<%= pageData.description %>">
<meta name="keywords" content="<%= pageData.keywords %>">
<link rel="stylesheet" href="/dist/css/style.css">
</head>
<body id="<%= pageData.pageID %>">
<header>
<h1><%= pageData.pagetitle %></h1>
</header>
